
.navbar {
  top: 0;
  left: 0;
    position: fixed;
      overflow: hidden;
      background-color: #265514;
    }
    
    .navbar a {
      top: 0;
      left: 0;
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .navbar a:hover {
      background-color: #289047;
      color: rgb(254, 255, 254);
    }